.notes-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    pointer-events: none
}

.note {
    min-width: 200px;
    max-width: 90vw;
    padding: 8px 14px;
    border-radius: 10px;
    box-shadow: 0 2px 8px #00000033;
    color: #000;
    pointer-events: auto;
    cursor: pointer
}

.note-info {
    background-color: #00ffffbb
}

.note-error {
    background-color: #ff0000bb
}

.note-success {
    background-color: #00ff00bb
}

.note-warning {
    background-color: #ffff00bb
}